# intellij
.idea
*.iws
*.iml
*.ipr

# sts
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# vscode
.vscode

# node
node_modules
package-lock.json

# maven
target

# other
log